<appSettings>
  <add key="iKey"
       value="__iKey__" />
  <add key="orderQueueName"
       value="__orderQueueName__" />
  <add key="cors:allowedHosts"
       value="__corsAllowedHosts__" />
  <add key="cors:allowedHeaders"
       value="__corsAllowedHeaders__" />
  <add key="cors:allowedMethods"
       value="__corsAllowedMethods__" />
</appSettings>
