<connectionStrings>
  <add name="cacheConnectionString"
       connectionString="__cacheConnectionString__" />
  <add name="storageConnectionString"
       connectionString="__storageConnectionString__" />
  <add name="iFlyShopContext"
       connectionString="__iFlyShopContextConnString__" />
</connectionStrings>
